<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <a href="/posteos/new">Crear Nuevo Posteo</a>
    <h1>My Posts</h1>
    <ul>
        <% posteos.forEach((posteo)=> { %>
            <li>
                <p>
                    <b>
                        <%= posteo.title %>
                    </b>
                    <i>
                        <%= posteo.content %>
                    </i><br>
                    <img src="<%= posteo.img_url %>" alt=""><br>

                    <a href="/posteos/edit/<%= posteo.id %>">📝 Edit</a><br>
                    <a href="/posteos/delete/<%= posteo.id %>">🧨 Delete</a>

                </p>
            </li>
            <% }); %>
    </ul>
</body>

</html>